# no certs
**/*.crt

# no keys (covers /config/master.key)
**/*.key

# no prod configs (cast a wide net and avoid anything that looks like a prod yml file)
**/production*y*ml

# don't check in files w/ the default fedora druid dump filename pattern
**/all_pids_*

.ruby-version
log/**
tmp/**
